<!DOCTYPE html>
<html>

<head>
    <title>TODO List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div id="todo">
        <h1>TODO LIST<i id="pensil"></i></h1>
        <div id="buttons">
            <button class="save">Save</button>
            <button class="clear">Clear</button>
        </div>

        <input type="text" placeholder="write your note">
        <ul class="todos">

        </ul>


    </div>
    <script src="../js/javascript.js"></script>
</body>

</html>