* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 10px solid #1C5713;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1C5713;
  letter-spacing: 0.15em;
}