* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  user-select: none;
  font-family: "Dela Gothic One", cursive;
  font-size: 3.5em;
}

input {
  background-color: #fff;
  border: 1px solid #000;
}

.to-do__input {
  margin: 15px 10px 15px 0;
  width: 350px;
  height: 40px;
  padding-left: 10px;
  transition: background-color 1s ease;
}

.to-do__button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-family: "Dela Gothic One", cursive;
  border: 2px solid #000;
  background-color: #fff;
  transition: all 0.5s ease-out;
}

.to-do__button:hover {
  background-color: rgba(0, 0, 0, 0.137);
}

.to-do__button--show {
  margin-right: 10px;
  display: none;
  transition: 0.25s ease;
  background-color: rgba(50, 218, 50, 0.323);
}

.tasks {
  margin-top: 5px;
  height: 0;
  transition: 0.5s ease;
}

.tasks__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 0px;
  background-color: rgba(32, 32, 32, 0.096);
  transition: height 0.35s ease;
  overflow-y: scroll;
  border: 1px solid #000;
  width: 100%;
  letter-spacing: 1.1px;
  list-style-type: none;
}

.tasks__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks__list-item {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.tasks__list li:first-child,
.tasks__list li:last-child {
  justify-content: center;
  border-bottom: 0;
  font-family: "Dela Gothic One", cursive;
  letter-spacing: 0;
  padding: 0;
  user-select: none;
}

.tasks__list li:first-child {
  margin-top: 0;
}

.tasks__list li:last-child {
  margin-bottom: 0;
}

.tasks__list li:nth-child(2) {
  margin-top: 0px;
}

.tasks__title {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__title--done {
  text-decoration: line-through;
}

.tasks__button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

.tasks__button img {
  width: 25px;
}
